.palm-page-header .icon.jlt {
	background-image: url(header-icon.png);
}

.palm-page-header .title {
	min-width: 160px !important;
    font-size: 16px;
}

.palm-row .title {
    font-size: 16px;
    font-weight: bold;
}

.explanation.topsplain {
    margin-left: 1em; margin-right: 1em;
    /* font-style: italic; */
}

.explanation {
    color: gray;
    font-size: 13px;
    font-weight: lighter;
    /* font-style: italic; */
}
