<table width=100% >
	<tr>
		<td><div>
            Enter the auth token from the page.  Use cut and paste to grab and
            aquire it or simply type it.
        </div></td>
	<tr>
		<td align=center colspan=2>
            <div class="palm-list">
                <div class="palm-row">
                    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id="eid-tf" x-mojo-element="TextField"></div>
                    </div>
                </div>
            </div>
		</td>
	</tr>
	<tr>
		<td width="50%"><div id="go-b" class="palm-button affirmative buttonfloat">Set Token</div></td>
		<td width="50%"><div id="stop-b"  class="palm-button negative buttonfloat">cancel<div></td>
	</tr>	
</table>

