<div id="jlt-main" class="jlt-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon jlt"></div>
			<div class="header-sliding-toggle">
	            <div x-mojo-element="ToggleButton" id="trackingToggle" class="header-toggle-button"></div>
	        </div>
	        <div class="title">
				JSON Location Tracker
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3>About</h3>
        <p> Written from scratch by Paul Miller in frustration of the absence of Google Latitude for the Prē.
            At the time of this writing, there did exist other homebrew projects with similar functionality,
            but none on Github — or with the precise feature-set desired. </p>

        <p> Bugs and problems should be reported in the Github issue tracking system:

            <div class="url"><a href="http://github.com/jettero/jlt/issues">http://github.com/jettero/jlt/issues</a></div>
            </p>

        <p> The entire source for this app and sample websites in various languages can be found here:

            <div class="url"><a href="http://github.com/jettero/jlt">http://github.com/jettero/jlt</a></div>
            </p>

        <h3>Copyright</h3>

        <p> This app and most of the CGI code is Copyright Paul Miller 2010. </p>

        <h3>License</h3>

        <p> This app sources and all the CGI source is licensed under the GNU GPL. </p>

        <h3>Latitude?</h3>

        <p> This app is not intended to complete with or connect to Google Latitude, which has a similar mission.
            It may interest you to know that Google already pushes Latitude functionality to the Prē, but it's
            <a href="http://maps.google.com/maps/m?mode=latitude">hidden</a>.
        </p>

    </div>

</div>
