<div id="jlt-main" class="jlt-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon jlt"></div>
			<div class="header-sliding-toggle">
	            <div x-mojo-element="ToggleButton" id="trackingToggle" class="header-toggle-button"></div>
	        </div>
	        <div class="title">
				JLT ChangeLog
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3>ChangeLog</h3>
        <div id="changelog" x-mojo-element="List"></div>

    </div>

</div>
