<div id="jlt-main" class="jlt-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon jlt"></div>
			<div class="header-sliding-toggle">
	            <div x-mojo-element="ToggleButton" id="trackingToggle" class="header-toggle-button"></div>
	        </div>
	        <div class="title">
				JSON Location Tracker
	        </div>
	    </div>
    </div>

    <div class="palm-group unlabeled">
        <div class="palm-list">

            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="title">

                    <div id="bufferFill" x-mojo-element="ProgressBar"
                        style="margin-top: 0.5em; float:left; width: 177px;"></div>

                    <div style="float: right">
                        <img id='r_led' src="images/red_led.png"   height="24" width="24"/>
                        <img id='g_led' src="images/green_led.png" height="24" width="24"/>
                        <img id='b_led' src="images/blue_led.png"  height="24" width="24"/>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="palm-group unlabeled">
        <div class="palm-list">

            <div class="palm-row first">
                <div class="palm-row-wrapper">
                    <div class="title">
                        Post URL
                        <div class='explanation'>
                        The URL for the CGI data sink on your web site.

                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row last">
                    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                        <div id="postURL" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="palm-group unlabeled" id="continuousUpdatesGroup">
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="ToggleButton" id="continuousUpdates" class="togglebuttonClass"></div>
                    <div class="title">
                        Continuous Updates
                        <div class='explanation'>
                        Subscribing to continuous GPS updates will be harder on the battery and consume more network resources.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="palm-group unlabeled" id="updateIntervalGroup">
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="title">
                        Update Interval
                        <div class="rightInfo" id="updateIntervalCurrent"></div>
                        <div class='explanation'>
                        The interval between receiving a GPS fix and asking for the next one.

                        </div>
                    </div>
                    <div x-mojo-element="Slider" id='updateInterval' class="palm-slider"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="palm-group unlabeled">
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="title">
                        Buffer Size
                        <div class="rightInfo" id="bufferSizeCurrent"></div>
                        <div class='explanation'>
                        The application stores readings locally until they're
                        confirmed as accepted by the webserver.

                        </div>
                    </div>
                    <div x-mojo-element="Slider" id='bufferSize' class="palm-slider"></div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="topsplain explanation">
        blarg blarg blarg blarg blarg blarg blarg blarg
        blarg blarg blarg blarg blarg blarg blarg blarg
    </div>
    -->

</div>
