<div id="jlt-main" class="jlt-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon jlt"></div>
			<div class="header-sliding-toggle">
	            <div x-mojo-element="ToggleButton" id="trackingToggle" class="header-toggle-button"></div>
	        </div>
	        <div class="title">
				JSON Location Tracker
	        </div>
	    </div>
    </div>

    <div class="palm-group unlabeled">
        <div class="palm-list">

            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="title">

                    <div id="bufferFill" x-mojo-element="ProgressBar"
                        style="margin-top: 0.5em; float:left; width: 177px;"></div>

                    <div style="float: right">
                        <img id='r_led' src="images/red_led.png"   height="24" width="24"/>
                        <img id='g_led' src="images/green_led.png" height="24" width="24"/>
                        <img id='b_led' src="images/blue_led.png"  height="24" width="24"/>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="palm-group unlabeled">
        <div class="palm-list">

            <div class="palm-row first">
                <div class="palm-row-wrapper">
                    <div class="title">
                        Post URL
                        <div class='explanation'>
                        This is the full URL you wish for GPS data to POST to.
                        The exact format is discussed in the helpfile.  The
                        field resists accidental edits.  To edit, tap-and-hold
                        and the field will drop into edit mode.

                        </div>
                    </div>
                </div>
            </div>

            <div class="palm-row last">
                    <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                        <div id="postURL" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="palm-group unlabeled" id="continuousUpdatesGroup">
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="ToggleButton" id="continuousUpdates" class="togglebuttonClass"></div>
                    <div class="title">
                        Continuous Updates
                        <div class='explanation'>
                        The application can &quot;subscribe&quot; to the GPS
                        system.  The GPS readings will get more and more
                        accurate while continously reading, however, it will be
                        pretty hard on the battery and will upload much more
                        data to the webserver.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="palm-group unlabeled" id="updateIntervalGroup">
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="title">
                        Update Interval
                        <div class="rightInfo" id="updateIntervalCurrent"></div>
                        <div class='explanation'>
                        The GPS can take 3 or 20 seconds to deliver data to the
                        application.  This interval is the time between the
                        last read and the start of the next query &mdash; as
                        such, the readings may be further apart than this
                        setting might otherwise indicate.

                        </div>
                    </div>
                    <div x-mojo-element="Slider" id='updateInterval' class="palm-slider"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="palm-group unlabeled">
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper">
                    <div class="title">
                        Buffer Size
                        <div class="rightInfo" id="bufferSizeCurrent"></div>
                        <div class='explanation'>
                        The application stores readings locally until they're
                        confirmed as accepted by the webserver.  This controls
                        the size of the local buffer.  If a new reading is
                        &quot;very close&quot; to the last reading, the new
                        timesamp will be added to the last reading, rather than
                        pushing a new reading into the buffer.

                        The list of timestamps in a reading can grow
                        indefinitely, but rarely should if the remote webserver
                        is accepting POSTs.

                        </div>
                    </div>
                    <div x-mojo-element="Slider" id='bufferSize' class="palm-slider"></div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="topsplain explanation">
        blarg blarg blarg blarg blarg blarg blarg blarg
        blarg blarg blarg blarg blarg blarg blarg blarg
    </div>
    -->

</div>
