<div id="jlt-main" class="jlt-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon jlt"></div>
			<div class="header-sliding-toggle">
	            <div x-mojo-element="ToggleButton" id="trackingToggle" class="header-toggle-button"></div>
	        </div>
	        <div class="title">
				Jet's Location Tracker
	        </div>
	    </div>
    </div>

	<div id="continuousUpdates">
		<div class="palm-group unlabeled">
			<div class="palm-list">
				<div class="palm-row single" id="continuousUpdates">
					<div class="palm-row-wrapper">
						<div x-mojo-element="ToggleButton" id="continuousUpdates"></div>
						<div class="title">
							Continuous Updates
                            <div class='explanaton'> blarg blarg blarg </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="explanation">
			blarg blarg blarg
		</div>
	</div>	
</div>
