<div id="jlt-main" class="jlt-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon jlt"></div>
			<div class="header-sliding-toggle">
	            <div x-mojo-element="ToggleButton" id="trackingToggle" class="header-toggle-button"></div>
	        </div>
	        <div class="title">
				JSON Location Tracker
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3>Post URL</h3>
        <p> Until Google writes a Prē version of Latitude or documents the update proces, we (Prē owners)
            are kinda stuck to building our own Latitude-a-likes.  Fortunately, Google Maps has an API that's
            pretty straight forward.  There are <a href="http://github.com/jettero/jlt/tree/master/cgi/">samples</a>
            in several languages on github (see the About card).
        </p>

        <p> Anyway, the Post URL is is the full path of the CGI that should collect your JSON location posts.
            The format of the posts is listed in a file called
            &quot;<a href="http://github.com/jettero/jlt/blob/master/PROTOCOL">PROTOCOL</a>&quot;
            in the distribution (ibid).
        </p>

    </div>

</div>
