<div id="jlt-main" class="jlt-main">
    <div class="palm-page-header multi-line">
		<div class="palm-page-header-wrapper">
	        <div class="icon jlt"></div>
			<div class="header-sliding-toggle">
	            <div x-mojo-element="ToggleButton" id="trackingToggle" class="header-toggle-button"></div>
	        </div>
	        <div class="title">
				JSON Location Tracker
	        </div>
	    </div>
    </div>

    <div class="topsplain explanation">
        <h3>Basics</h3>
        <p> This application won't do much good without an end point to upload to. </p>
    </div>

</div>
