<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div class="icon jlt"></div>
        <div class="header-sliding-toggle">
            <div x-mojo-element="ToggleButton" id="trackingToggle" class="header-toggle-button"></div>
        </div>
        <div id='web-title' class="title">
            JSON Location Tracker
        </div>
    </div>
</div>

<div id="token" x-mojo-element="TextField"></div>
<div x-mojo-element="WebView" id="webview-node"></div>
